# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
animations/swat/Run[[:space:]]Forward.fbx filter=lfs diff=lfs merge=lfs -text
animations/swat/Walking.fbx filter=lfs diff=lfs merge=lfs -text
animations/Crouch[[:space:]]Walking.fbx filter=lfs diff=lfs merge=lfs -text
animations/swat/Crouch[[:space:]]Walking.fbx filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
